.nav{
	background-color: red;
	font-size: 125%;
	font-family: arial;
    border:1px solid;
    border-width:1px 0;
    list-style:none;
    text-align:center;
}

.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:15px;
}

h1{
	text-align: center;
}

body {
	background-color: lightblue;
}

h2{
	text-align: center;
	font-family: arial;
	font-size: 250%;
	color: darkred;
}

h3{
	font-family: arial;
	font-size: 150%;
	color: darkred;
}

h4{
	font-size: 150%;
}

p{
	font-size: 25px;
}

li{
	vertical-align: center;
}

/* style for About Me page*/

.profile img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	margin-bottom: 20px;
}

.basics{
	text-align: center;
	vertical-align: middle;
	margin-bottom: 50px;
}

.academic{
	font-size: 25px;
	border: 5px solid darkred;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	background-image: linear-gradient(to bottom right, grey, white);
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}

.personal{
	font-size: 25px;
	border: 5px solid darkred;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	background-image: linear-gradient(to bottom right, white, grey);
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}

.bvb img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}

/*Style for Resume page*/

.resume {
	font-family: 'Oswald', san-serif;
}

.contact{
	text-align: center;
	border: 5px outset darkred;
}

dl{
	font-size: 25px;
	line-height: 50px;
}

dd{
	font-size: 20px;
	line-height: 40px;
}

/*Style for Travel page*/
#travelintro{
	margin-left: 100px;
	margin-right: 100px;
}

.topdest{
	text-align: center;
	clear: right;
	margin-top: 50px;
}

.dreamdest{
	text-align: center;
	clear: right;
	margin-top: 100px;
}

.cities{
	margin: 1em;
	color: darkred;
	font-size: 170%;
	border: 5px dotted darkred;
	vertical-align: middle;
	display: inline-block;
	padding-right: 40px;
	float: center;
	margin-left: 300px;
}

.glidingpic img{
	border-style: outset;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:30%;
} 

.chicago img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	float: right;
	padding-right: 150px;
}

.petra img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 40%;
	width: 30%;
	float: right;
	padding-right: 150px;
	padding-bottom: 50px;
}


.adthoughts{
	padding: 1em;
	margin-top: 100px;
	clear: right;
	margin-top: 100px;
}


wrapper{
	margin-right: auto;
	margin-left: auto;
	width: 960 px;
}
